.bg {
  background-color: rgb(23,35,47);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 7vh auto 5vh auto;
  color: rgb(235, 240, 244) ;
  font-weight: bolder;
  text-align: center;
  font-size: calc(10px + 0.8vw);
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgba(46, 64, 84, 0.3);
  border-radius: 5px;
  color: rgb(235, 240, 244) ;
  padding: 4vw;
  box-sizing: border-box;
}

.paragraph-container {
  box-sizing: border-box;
  padding: 1vw 4vw;
}

.paragraph-title {
  font-weight: bold;
  font-size: calc(7px + 0.8vw);
}

.paragraph {
  color: rgb(143, 155, 167);
  font-size: calc(5px + 0.7vw);
  font-weight: normal;
  line-height: calc(10px + 0.7vw) ;
}

.paragraph#first {
  margin-bottom: 3vw;
}

.icon-container {
  background-color: rgb(23,35,47);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  padding: 5%;
  border-radius: 5px;

}

.section {
  width: 100%;
  margin: 10px 0;
}

.icon-img {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5% 0 0;
}

.section_icon{
  width: 100%;
}

.icon-label {
  margin: 0;
  font-size: calc(8px + 0.8vw);
}

.icon-para {
  font-size: calc(6px + 0.6vw);
}
