.bg {
  background-color: rgb(23,35,47);
  display: flex;
  flex-direction: column;
}

.title {
  margin: 7vh auto 5vh auto;
  color: rgb(235, 240, 244) ;
  font-weight: bolder;
  text-align: center;
  font-size: calc(10px + 0.8vw);
}

.container {
  max-width: 1100px;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  background-color: rgb(46, 64, 84);
  border-radius: 10px;
  color: rgb(235, 240, 244) ;
  padding: 4vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.paragraph-container {
  box-sizing: border-box;
  padding: 0 5vw;

}

.paragraph-title {
  font-weight: bold;
  font-size: 1.2vw;
}

.paragraph {
  color: rgb(143, 155, 167);
  font-size: 1vw;
  line-height: 26px;
  font-weight: bold;
}

.paragraph#first {
  margin-bottom: 3vw;
}

.icon-container {
  height: 100%;
  background-color: rgb(23,35,47);
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 3vw;
  box-sizing: border-box;
  align-items: baseline;
}

.section {
  /*/border: 1px solid red;*/
  width: 100%;
  min-width: 250px;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.icon-img {
  width: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 0.6vw);
}

.icon-label {
  margin: 0;
  font-size: calc(10px + 0.5vw);
}

.icon-para {
  font-size: calc(10px + 0.3vw);

}
