<div ngClass="bg">
  <div ngClass="container">
    <div ngClass="img-container">
      <!--<img src="">-->
      <div ngClass="img"></div>
    </div>
    <div ngClass="form">
      <h2 ngClass="form-title">On arrive bientôt...</h2>
      <p ngClass="form-paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel nisi rutrum, rhoncus libero commodo, pharetra ante. Suspendisse vitae erat ante. Proin aliquam ex lectus, a sagittis erat ultrices vulputate. Proin eget eros elit. Mauris sed ante quis urna facilisis cursus vel id quam. In suscipit tristique est, commodo molestie risus congue at.</p>
      <h3 ngClass="input-label">Inscris-toi pour recevoir les offres de lancements</h3>
      <div ngClass="input-container">
        <input ngClass="input" type="text" placeholder="email">
        <button ngClass="button">Recevoir</button>
      <div>
      <!--<h3 ngClass="details">*Aucune informations ne sera vendus a des tiers.</h3>-->
    </div>
  </div>
</div>
