<div ngClass="bg">
  <div ngClass="container">
    <div ngClass="img-container">
      <!--<img src="">-->
      <div ngClass="img"></div>
    </div>
    <div ngClass="form">
      <h2 ngClass="form-title">On arrive bientôt ...</h2>
      <p ngClass="form-paragraphe">Vous pourrez très bientôt accéder à notre plateforme dédiée pour trouver et réserver facilement vos prochains lieux de shooting et faire des économies sur la location d’un studio. Explorez les espaces, réservez sans difficulté et payez en toute transparence.
        <br>
        <br>
        Trouver un lieu dans votre budget qui correspond à votre projet n’a jamais été aussi simple.</p>
      <h3 ngClass="input-label">Inscris-toi pour recevoir les offres de lancements</h3>
      <div ngClass="input-container">
        <input ngClass="input" type="text" placeholder="Email">
        <button ngClass="button">Nous rejoindre</button>
      </div>
      <div ngClass="input-container">
        <h3 ngClass="details">*En renseignant votre adresse email, vous acceptez de recevoir chaque semaine nos derniers articles de blog par courrier électronique et vous prenez connaissance de notre Politique de Confidentialité.
          <br><br>
          Vous pouvez vous désinscrire à tout moment à l’aide des liens de désinscription ou en nous contactant à l’adresse contact@nearoom.com.
        </h3>
      </div>
  </div>
</div>
