.bg {
  background-color: rgb(23,35,47);
  display: flex;
  flex-direction: column;
}

.title {
  margin: 7vh auto 5vh auto;
  color: rgb(235, 240, 244) ;
  font-weight: bold;
  font-size: calc(10px + 0.8vw);
}

.container {
  width: 60%;
  height: 60vh;
  margin: 0 auto 0 auto;
  background-color: rgb(46, 64, 84);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: rgb(235, 240, 244) ;
  box-sizing: border-box;
}


.question:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.question:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
}

.question {
  height: 12.5%;
  cursor: pointer;
  border-bottom: 1px solid rgba(235, 240, 244, 0.3);
  justify-content: center;
  align-items: center;
  padding: 1vw;
  font-size: 1vw;
}

.question:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.question::before {
  content: "►";
  font-size: 0.8vw;
  margin-right: 15px;
}
